llama-index==0.10.57
llama-index-llms-groq
llama-index-llms-gemini
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss==0.1.2
faiss-cpu==1.8.0
pypdf==4.3.1
python-docx==1.1.2
langdetect==1.0.9
python-dotenv==1.0.1
groq
google-generativeai
fastapi==0.111.1
uvicorn==0.30.1
